.about-container {
    margin-top: 77px;
}


.about-container-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 120px;
    margin-bottom: 10px;
    border-bottom: 15px solid rgb(36, 46, 52);
}

.text-section {
    /* border: 1px solid red; */
    flex: 60%;
    padding: 10px 20px;
}
.text-section h1{
    font-size: 50px;
    line-height: 50px;
}
.text-section p{
    font-size: 21px;
}
.img-section{
    flex: 40%;
}

.img-section img{
    width: 500px;
    height: 340px;
}


.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 20px;
}
.contact-us p{
    font-size: 25px;
}

.form-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    gap: .5rem;
}

.email-input-section input{
    border: none;
    outline: none;
    padding: 13px 8px;
    width: 400px;
    background-color: transparent;
    border: 2px solid rgb(36, 46, 52);
    border-radius: 3px;
    color: white;
    font-size: 18px;
}

.submit-button button{
    border: none;
    outline: none;
    /* width: 100px; */
    background-color: red;
    color: white;
    border: 2px solid rgb(36, 46, 52);
    border-radius: 3px;
    cursor: pointer;
    padding: 13px 18px;
    font-size: 20px;
}

.submit-button button:hover{
    color: red;
    background-color: rgb(36, 46, 52);
    border: 2px solid red;
    transition-duration: .5s;
}